 
 
 .project-container {
   
      margin: auto;
      
    background-repeat: no-repeat;
    background-size: cover;
      color: white;
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;

    }
    
    .section-title {
      color: #3ECF8E;
      font-size: 42px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    
    .project-card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 10px;
      font-family: Satoshi;
      margin-bottom: 20px;
      gap: 50px;
      width: 100%;
    
    }
    
    .project-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      gap: 35px;
    
    }
    .serial-num{
      display: flex;
      justify-content: left;

      padding-bottom: 150px;
    }
    .project-id {
      font-size: 24px;
      margin-bottom: 10px;
      color: #ffffffc7;
      font-weight: 100;
    }
    
    @keyframes rotate360 {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
    .project-icon {
      width: 168px;
      height: 168px;
      border-radius: 50%;
      background-color: black;
      padding: 10px;
      
      /* Apply rotation animation */
      animation: rotate360 10s linear infinite;
    }
    
    
    .project-right {
      flex: 1;
    }
    
    .project-title {
      display: flex;
      font-family: Satoshi;
      flex-direction: column;
    }
    
    .project-title h2 {
      font-size: 22px;
      margin: 0;
      color: #ffffffca;
     
    }
    
    .project-link {
      color: #8A3FFC  ;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
    }
      .sub{
        width: 100%;
      }

      .content{
        width: 100%;
      }
    
    .project-desc {
      margin: 10px 0;
      font-size: 24px;
      color: #bbb;
      font-family: Satoshi;
      min-width: auto;
      max-width: 500px;
      
    }
    
    .learn-more {
      color: #4EFF8B;
      text-decoration: none;
      font-weight: bold;
    }
    
    .names h2{
      font-size: 28px;
      font-weight: bold;
    }

    @media screen and (max-width: 500px) {

      .project-card{
        gap: 5px;
      }
      .project-container{
        padding: 20px;
      }
    }
